.blog-post
  %h2.blog-post-title= link_to blog.title.upcase, blog
  %p.blog-post-meta Pushlished #{time_ago_in_words(blog.created_at)} ago by #{blog.user.name}
  %p.blog-post-meta
    = link_to blog.status, toggle_status_blog_path(blog) if can? :toggle_status, blog
    \/
    = link_to 'Show', blog if can? :read, blog
    \/
    = link_to 'Edit', edit_blog_path(blog) if can? :edit, blog
    \/
    = link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, blog
  %p= blog.body
