- provide(:title, @blog.title)
%p#notice= notice
%p
  %strong Title:
  = @blog.title
%p
  %strong Body:
  = @blog.body
= link_to 'Edit', edit_blog_path(@blog) if can? :edit, Blog
|
= link_to 'Back', blogs_path
