- provide(:title, @blog.title)
.col-md-8.blog-main
  %h2.blog-post-title= @blog.title.upcase
  %p.blog-post-meta Pushlished #{time_ago_in_words(@blog.created_at)} ago by #{@blog.user.name}
  %p.blog-post-meta
    = link_to @blog.status, toggle_status_blog_path(@blog) if can? :toggle_status, @blog
    \/
    = link_to 'Edit', edit_blog_path(@blog) if can? :edit, @blog
    \/
    = link_to 'Destroy', @blog, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, @blog
  %p= @blog.body
  = link_to 'Back', blogs_path
