= form_for portfolio_item do |f|
  .row
    .col-md-6
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      .form-group
        = f.label :subtitle
        = f.text_field :subtitle, class: 'form-control'
        %h2 Technologies used:
        = f.fields_for :technologies do |technology_form|
          .form-group
            = technology_form.label :name
            = technology_form.text_field :name, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :body
        = f.text_area :body, class: 'form-control', rows: 10
      .action
        = f.submit (portfolio_item.new_record? ? 'Create portfolio' : 'Update Portfolio'), |
        class: 'btn btn-primary btn-block'
