.col-md-4
  .card.mb-4.box-shadow{ 'data-id': "#{portfolio_item.id}" }
    .card-img-top= image_tag portfolio_item.thumb_image
    .card-body
      %p.card-text= link_to portfolio_item.title, portfolio_show_path(portfolio_item)
      .d-flex.justify-content-between.align-items-center
        .btn-group
          - if can? :edit, portfolio_item
            = link_to 'Edit', edit_portfolio_path(portfolio_item), class: 'btn btn-sm btn-outline-secondary'
          - if can? :destroy, portfolio_item
            = link_to 'Delete', portfolio_item, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-sm btn-outline-secondary'
