.navbar.navbar-expand-sm.navbar-light.bg-dark
  %a.navbar-brand{ href: root_url } MyPortfolio

%p= link_to 'Home', root_path
%p= link_to 'About', about_path
%p= link_to 'Contact', contact_path
%p= link_to 'Blogs', blogs_path
%p= link_to 'Portfolios', portfolios_path
- if current_user.is_a?(User)
  = link_to 'Log out', destroy_user_session_path, method: :delete
- else
  = link_to 'Register', new_user_registration_path
  = link_to 'Log in', new_user_session_path
= yield
