!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'shared/navbar'
    %p.notice= notice
    %p.alert= alert
    - if current_user.is_a?(User)
      = link_to 'Log out', destroy_user_session_path, method: :delete
    - else
      = link_to 'Register', new_user_registration_path
      = link_to 'Log in', new_user_session_path
    = yield
    - if session[:source]
      %p Thanks for visiting me from #{session[:source]}
