!!!
%html
  %head
    %meta{ content: 'width=device-width,
           initial-scale=1, shrink-to-fit=no',
           name: 'viewport' }
    %title= full_title(yield(:title))
    = csrf_meta_tags
    = stylesheet_link_tag    'application',
                              media: 'all',
                             'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/navbar'
    = yield
    = render 'layouts/footer'
    = source_helper('Application')
    :javascript
      $('.port-item').click(function(){
        $('.collapse').collapse('hide');
      });
      $(document).ready(function(){
              		$('.html').animate({width:'70%'},2000);
              		$('.css').animate({width:'70%'},2000);
              		$('.js').animate({width:'40%'},2000);
              		$('.ruby').animate({width:'50%'},2000);
              		$('.rails').animate({width:'60%'},2000);
              	});
